body {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    line-height: 1.5rem;
}
.calendar-wrapper {
    width: 65%;
    margin: 10px auto;
    background: #fff;
    overflow: auto;
}
.otherMonth {

}
.day {

}
.date {
    
}