/* Import files */
@import "config.scss";

body {
    background-color: $background-color;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    line-height: 1.5em;
}
em {
    font-style: bold;
    color: $primary-color;
}
a {
    text-decoration: none;
}
.table-buy {
    padding: 7px;
    border: #ccc solid 1px;
    text-align: center;
    display: block;
    margin: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    color: $table-bg-color;
    background: $secondary-color;

    &:hover {
        background: $secondary-color-hover;
    }
}
.container {
    width: 900px;
    margin: 50px auto;
    max-width: 900px;
}
.table-block {
    float: left;

    @if $columns == 4 {
        width: 23%;
    } @else if $columns == 3 {
        width: 30%;
    } @else {
        width: 23%;
    }
    
    margin: 0 1%;
    box-sizing: border-box;
    background: #fff;
    overflow: hidden;
    margin-bottom: 10px;
    
    h3 {
        background: $table-head-color;
        color: #fff;
        text-align: center;
        font-size: 22px;
        padding: 15px;
    }

    &:hover {
        border: 4px $background-color solid;
    }
}
.price {
    text-align: center;
    padding: 20px;
    background: $primary-color;
    color: #fff;

    span {
        font-size: 25px;
        font-weight: bold;
    }
}
.features {
    li {
        line-height: 2em;
        text-align: center;
        padding: 10px 0;
    }
    em {
        font-weight: bold;
    }
    li:nth-child(odd) {
        background: #f4f4f4;
    }
}
.table-highlight {
    margin-top: -30px;
    border: #fff solid 4px;

    .table-buy {
        margin-top: 7px;
    }
    li {
        padding: 12px !important;
    }
}
@media(max-width:768px) {
    @import "mobile.scss";
}