.anime {
    width: 150px;
    height: 150px;
    position: relative;
    background: #000;
    -webkit-animation: moveSquare 5s infinite; 
    animation: moveSquare 5s infinite;
}
@keyframes moveSquare {
    0% {
        top: 50px;
        left: 50px;
    }
    25% {
        top: 50px;
        left: 350px;
        background: hotpink;
        transform: rotate(90deg);
        border-radius: 50%;
    }
    50% {
        top: 350px;
        left: 350px;
        background: dodgerblue;
        transform: rotate(180deg);
    }
    75% {
        top: 350px;
        left: 50px;
        background: orangered;
        transform: rotate(90deg);
    }
    100% {
        top: 50px;
        left: 50px;
        transform: rotate(0deg);
        border-radius: 0%;
    }
}