body {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
}
.wrapper {
    width: 150px;
    height: 150px;
    position: relative;
    background: #000;
    -webkit-animation: moveSquare 5s infinite; 
    animation: moveSquare 5s infinite;
}
@keyframes moveSquare {
    0%      {top: 0px;}
    25%     {top: 300px;}
    75%     {top: 100px;}
    100%    {top: 0px;}
}