body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    background: #507be1 url(../img/bg.jpg) repeat-x;
}
.wrapper {
}
.thumbs {

}
@keyframes moveSquare {
    0% {
        top: 50px;
        left: 50px;
    }
    25% {
        top: 50px;
        left: 350px;
        background: hotpink;
        transform: rotate(90deg);
        border-radius: 50%;
    }
    50% {
        top: 350px;
        left: 350px;
        background: dodgerblue;
        transform: rotate(180deg);
    }
    75% {
        top: 350px;
        left: 50px;
        background: orangered;
        transform: rotate(90deg);
    }
    100% {
        top: 50px;
        left: 50px;
        transform: rotate(0deg);
        border-radius: 0%;
    }
}